{% extends "base.html" %}

{% block title %}  C++ {% endblock %}


{% block content %} 
 La fecha es: {{val_fecha}} </br>
    Este es el video de la pagina hija que no deberia de verse en los demas archivos</br>

    <iframe width="960" height="540" src="https://www.youtube.com/embed/DYed5whEf4g" title="Imagine Dragons - Bones (Official Lyric Video)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

{% endblock %}